examples/XPManagerClient/Web References/AlchemiXPM/CrossPlatformManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.alchemi.net" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.alchemi.net" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.alchemi.net">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="GetJobState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="jobId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetJobStateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFinishedJobs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFinishedJobsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFinishedJobsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="jobId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="priority" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="jobXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddJobResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitTaskResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateTaskResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListLiveApps">
        <s:complexType />
      </s:element>
      <s:element name="ListLiveAppsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListLiveAppsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetApplicationStateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbortTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbortTaskResponse">
        <s:complexType />
      </s:element>
      <s:element name="AbortJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="jobId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbortJobResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </types>
  <message name="GetJobStateSoapIn">
    <part name="parameters" element="s0:GetJobState" />
  </message>
  <message name="GetJobStateSoapOut">
    <part name="parameters" element="s0:GetJobStateResponse" />
  </message>
  <message name="GetFinishedJobsSoapIn">
    <part name="parameters" element="s0:GetFinishedJobs" />
  </message>
  <message name="GetFinishedJobsSoapOut">
    <part name="parameters" element="s0:GetFinishedJobsResponse" />
  </message>
  <message name="AddJobSoapIn">
    <part name="parameters" element="s0:AddJob" />
  </message>
  <message name="AddJobSoapOut">
    <part name="parameters" element="s0:AddJobResponse" />
  </message>
  <message name="SubmitTaskSoapIn">
    <part name="parameters" element="s0:SubmitTask" />
  </message>
  <message name="SubmitTaskSoapOut">
    <part name="parameters" element="s0:SubmitTaskResponse" />
  </message>
  <message name="CreateTaskSoapIn">
    <part name="parameters" element="s0:CreateTask" />
  </message>
  <message name="CreateTaskSoapOut">
    <part name="parameters" element="s0:CreateTaskResponse" />
  </message>
  <message name="PingSoapIn">
    <part name="parameters" element="s0:Ping" />
  </message>
  <message name="PingSoapOut">
    <part name="parameters" element="s0:PingResponse" />
  </message>
  <message name="ListLiveAppsSoapIn">
    <part name="parameters" element="s0:ListLiveApps" />
  </message>
  <message name="ListLiveAppsSoapOut">
    <part name="parameters" element="s0:ListLiveAppsResponse" />
  </message>
  <message name="GetApplicationStateSoapIn">
    <part name="parameters" element="s0:GetApplicationState" />
  </message>
  <message name="GetApplicationStateSoapOut">
    <part name="parameters" element="s0:GetApplicationStateResponse" />
  </message>
  <message name="AbortTaskSoapIn">
    <part name="parameters" element="s0:AbortTask" />
  </message>
  <message name="AbortTaskSoapOut">
    <part name="parameters" element="s0:AbortTaskResponse" />
  </message>
  <message name="AbortJobSoapIn">
    <part name="parameters" element="s0:AbortJob" />
  </message>
  <message name="AbortJobSoapOut">
    <part name="parameters" element="s0:AbortJobResponse" />
  </message>
  <portType name="CrossPlatformManagerSoap">
    <operation name="GetJobState">
      <input message="s0:GetJobStateSoapIn" />
      <output message="s0:GetJobStateSoapOut" />
    </operation>
    <operation name="GetFinishedJobs">
      <input message="s0:GetFinishedJobsSoapIn" />
      <output message="s0:GetFinishedJobsSoapOut" />
    </operation>
    <operation name="AddJob">
      <input message="s0:AddJobSoapIn" />
      <output message="s0:AddJobSoapOut" />
    </operation>
    <operation name="SubmitTask">
      <input message="s0:SubmitTaskSoapIn" />
      <output message="s0:SubmitTaskSoapOut" />
    </operation>
    <operation name="CreateTask">
      <input message="s0:CreateTaskSoapIn" />
      <output message="s0:CreateTaskSoapOut" />
    </operation>
    <operation name="Ping">
      <input message="s0:PingSoapIn" />
      <output message="s0:PingSoapOut" />
    </operation>
    <operation name="ListLiveApps">
      <input message="s0:ListLiveAppsSoapIn" />
      <output message="s0:ListLiveAppsSoapOut" />
    </operation>
    <operation name="GetApplicationState">
      <input message="s0:GetApplicationStateSoapIn" />
      <output message="s0:GetApplicationStateSoapOut" />
    </operation>
    <operation name="AbortTask">
      <input message="s0:AbortTaskSoapIn" />
      <output message="s0:AbortTaskSoapOut" />
    </operation>
    <operation name="AbortJob">
      <input message="s0:AbortJobSoapIn" />
      <output message="s0:AbortJobSoapOut" />
    </operation>
  </portType>
  <binding name="CrossPlatformManagerSoap" type="s0:CrossPlatformManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetJobState">
      <soap:operation soapAction="http://www.alchemi.net/GetJobState" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFinishedJobs">
      <soap:operation soapAction="http://www.alchemi.net/GetFinishedJobs" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddJob">
      <soap:operation soapAction="http://www.alchemi.net/AddJob" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SubmitTask">
      <soap:operation soapAction="http://www.alchemi.net/SubmitTask" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateTask">
      <soap:operation soapAction="http://www.alchemi.net/CreateTask" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Ping">
      <soap:operation soapAction="http://www.alchemi.net/Ping" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListLiveApps">
      <soap:operation soapAction="http://www.alchemi.net/ListLiveApps" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetApplicationState">
      <soap:operation soapAction="http://www.alchemi.net/GetApplicationState" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AbortTask">
      <soap:operation soapAction="http://www.alchemi.net/AbortTask" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AbortJob">
      <soap:operation soapAction="http://www.alchemi.net/AbortJob" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CrossPlatformManager">
    <port name="CrossPlatformManagerSoap" binding="s0:CrossPlatformManagerSoap">
      <soap:address location="http://localhost/Alchemi.CrossPlatformManager/CrossPlatformManager.asmx" />
    </port>
  </service>
</definitions>